body {
    background: rgb(236, 234, 234);
}

.about-text{
    background: seagreen;
}
.skills {
   
    background: salmon;
}
.contacts {
   
    background: rgb(220, 230, 132);
}










